*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 110px;
    
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 300px);
    justify-content: center;
    
}

.container > section > img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

input{
    display: none;
}

.controls
{
    height: 50px;
    width: 100%;
    text-align: center;
    background: #333;
}

.controls > label{
    line-height: 50px;
    font-size: 20px;
    background: white;
    border-radius: 50px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

#r1:checked ~ .container > section:not(:nth-child(1)),
#r2:checked ~ .container > section:not(:nth-child(2)),
#r3:checked ~ .container > section:not(:nth-child(3)),
#r4:checked ~ .container > section:not(:nth-child(4))
{
    display: none;
}

#r1:checked ~ .controls > label:nth-child(1),
#r2:checked ~ .controls > label:nth-child(2),
#r3:checked ~ .controls > label:nth-child(3),
#r4:checked ~ .controls > label:nth-child(4),
#r5:checked ~ .controls > label:nth-child(5){
    background: tomato;
    color: blue;
}
