*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* debut div et checked */
input{
    display: none;
}

.container{
    width: 100%;
    text-align: center;
}

h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}


.top-content{
    background-color: lightgray;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

p{
    height: 100%;
    background-color: lightgray;
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}

label:hover{
    color: black;
}

.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 70px;
    cursor: pointer;
}

.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
}

.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check2:checked ~ .container .photo-gallery .sac{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check2:checked ~ .container .photo-gallery .sac,
#check2:checked ~ .container .photo-gallery .bijou,
#check2:checked ~ .container .photo-gallery .chaussure{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check3:checked ~ .container .photo-gallery .vetement{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check3:checked ~ .container .photo-gallery .vetement,
#check3:checked ~ .container .photo-gallery .sac,
#check3:checked ~ .container .photo-gallery .chaussure{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check4:checked ~ .container .photo-gallery .vetement{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check4:checked ~ .container .photo-gallery .vetement,
#check4:checked ~ .container .photo-gallery .sac,
#check4:checked ~ .container .photo-gallery .bijou{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check5:checked ~ .container .photo-gallery .vetement{
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check5:checked ~ .container .photo-gallery .vetement,
#check5:checked ~ .container .photo-gallery .bijou,
#check5:checked ~ .container .photo-gallery .chaussure{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}
/* fin de div */